@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* animação de cor */
@keyframes pulse-glow-orange {
  0%, 100% {
    box-shadow: 0 0 0 rgba(255,140,0,0);
  }
  50% {
    box-shadow: 0 0 20px rgba(255,140,0,0.6);
  }
}

.animate-pulse-glow {
  animation: pulse-glow-orange 4s infinite;
}


@keyframes pulse-glow-blue {
  0%, 100% {
    box-shadow: 0 0 0 rgba(3, 80, 245, 0);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.384);
  }
}

.animate-pulse-glow2 {
  animation: pulse-glow-blue 1s infinite;
}


